
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,400,400i,600,600i&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-size: inherit;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.features {
    width: 70%;
    max-width: 1440px;
    margin: 0 auto;
    color: hsl(229, 6%, 66%);
}

.features-header {
    text-align: center;
    margin: 0 auto 4.67em auto;
}

.features-header .title {
    font-size: 2.4rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    margin-bottom: .5em;
}

.features-header .title span {
    font-weight: 600;
}

.features-header .subtitle {
    font-size: 1rem;
    font-weight: 400;
    max-width: 540px;
    margin: 0 auto;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
